<div class="container">
  <footer class="footer">
      <small>
        Copyrigth &copy; <a href=https://www.udemy.com"">Curso de Ruby Udemy</a>
        by <a href="http://www.togohbusiness.com">Togoh Business & Soluctions Inc</a>
      </small>
      <nav>
        <ul>
          <li><%= link_to "Abaut", about_path %></li>
        </ul>
      </nav>
  </footer>
</div>